node_modules/
dist/
.env
.env.*
!.env.example
.vscode/
.DS_Store
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
.vitepress/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port/
.vscode-test/
.pnpm-store/
.yarn/
.vite/
STC_DESIGN.md
STC_LEADS_DESIGN.md
STC_EVENTS_DESIGN.md
STC_ROADMAPS_DESIGN.md